In [2]:
# Q1 Write a for loop to print all even numbers from 2 to 20.
for num in range(2,21,2):
    print(num)

2
4
6
8
10
12
14
16
18
20

In [5]:
#Q2 Create a list of names and use a for loop to print each name in uppercase.
names=['omiya','fatima','khadija']
for name in names:
    print(name.upper())

OMIYA
FATIMA
KHADIJA

In [7]:
#Q3 Use a for loop with range() to print numbers from 10 to 1 in reverse order.
numbers=list(range(1,11))
numbers.reverse()
for num in numbers:
    print(num)

10
9
8
7
6
5
4
3
2
1

In [9]:
#Q4 Iterate through a list of integers and print only the numbers that are divisible by 3.
numbers=[10,21,40,55,60,99]
for num in numbers:
    if num%3==0:
        print(num)

21
60
99

In [10]:
#Q5 Write a loop that prints the squares of numbers from 1 to 10.
for num in range(1,11):
    print(num**2)

1
4
9
16
25
36
49
64
81
100

In [12]:
#Q6 Given a list of temperatures in Celsius, use a for loop to convert each to Fahrenheit
celsius_temp=[0,10,20,30,40,50,60]
for temp in celsius_temp:
    print((temp*9/5)+32)

32.0
50.0
68.0
86.0
104.0
122.0
140.0

In [13]:
#Q7 Create a for loop that prints the multiplication table of 5.
for num in range(1,11):
    print(f"5 x {num}={5*num}")

5 x 1=5
5 x 2=10
5 x 3=15
5 x 4=20
5 x 5=25
5 x 6=30
5 x 7=35
5 x 8=40
5 x 9=45
5 x 10=50

In [16]:
#Q8 Write a program to find the sum of all numbers in a list using a for loop.
numbers = [10, 20, 30, 40, 50]
total = 0
for num in numbers:
    total += num 
print(total)

150

In [17]:
#Q9 Use a for loop to iterate through a string and print each character separately.
text = "Hello"
for letter in text:
    print(letter)

H
e
l
l
o

In [18]:
#Q10 Create a list of words and use a for loop to print only the words with more than 5 letters.
words = ["apple", "banana", "cherry", "date", "elephant", "gra", "grape"]
for word in words:
    if len(word) > 5:
        print(word)

banana
cherry
elephant